<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Propiedades para el directorio y nombre del fichero de logs -->
    <property name="LOG_DIR" value="/home/ubuntu/logs" />
    <property name="LOG_NAME" value="bookdom" />

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty name="LOG_PATH" source="logging.file" defaultValue="logs" />

    <!-- Appender para consola -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{ISO8601} %-5level [%t] %-60.60logger{30} : %msg%n%throwable</pattern>
        </layout>
    </appender>

    <!-- Appender para fichero con política de rotación diaria -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_NAME}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_NAME}_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Appender para registrar solo errores en un archivo separado -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_NAME}_error.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_NAME}_error_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- Define el nivel de log para cada appender -->
    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="Console"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>

    <!-- Define niveles de log específicos para paquetes -->
    <logger name="com.example.bookdombackend" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="Console"/>
        <appender-ref ref="ERROR_FILE"/>
    </logger>
</configuration>
